
#colorTommy{
    color:#3D2875;
}
#colorTommyBackground{
    background-color:#3D2875;
    border-radius: 5px solid;
}


#logotommy{
  max-width: 250px;
}
#logotommy1{
    max-width: 120px;
  }
#footer{
    background-color: #493f66;
    color: white;
}
.logoContacto{
    max-width: 30px;
}
/* Formulario de Contacto */
.contacto_form{  
    width: 460px; 
    margin: 80px ;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fff; 
    padding-left: 30px; 
    margin-left: 33%;
  }
  @media screen and (max-width: 980px){
    .contacto_form{
        margin: 0;
    }

}
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #ab4493; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #ab4493; 
    border-color: #ab4493; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  .aviso{
    font-size: 13px;  
    color: #000000;  
  }
  
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: #ab4493;
  }
  
  
  h2{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #000000;   
  }
  .mapa{
      height: 500px;
      border-radius: 10%
  }